doctype html 
html 
  head 
     title Rumit's Dance Acedamy
     block scripts 
     block style
  body 
     nav#navbar 
        ul
          div#logo
            img(src="/static/logo.jpg")
            | RDA
          li #[a(href='/') Home]
          li #[a(href='/') About]
          li #[a(href='/') Service]
          li #[a(href='/') Class Info]
          li #[a(href='/contact') Contact us]
     block content 
     footer#footer 
         | Copyright © 2021 RumitDanceAcedamy.com All |  Rights Are Reserved.